* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

section {
    padding: 100px;
    @media (max-width: 991px) {
        padding: 20px;
    }
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .2s;
    &:hover {
        letter-spacing: 6px;
    }
}

.white {
    .titleText,
    p {
        color: #fff;
    }
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
    @media (max-width: 991px) {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    span {
        color: #ff0157;
        font-weight: 700;
        font-size: 1.5em;
    }
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
        flex-direction: column;
    }
    .col50 {
        position: relative;
        width: 48%;
        @media (max-width: 991px) {
            position: relative;
            width: 100%;
        }
        .imgBx {
            position: relative;
            width: 100%;
            height: 100%;
            @media (max-width: 991px) {
                height: 300px;
                margin-top: 20px;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: 991px) {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .menuToogle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        &.active {
            background: url(../img/close.png);
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}